@keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}


/* add key in dev if change animation */